@import url(../node_modules/semantic-ui-css/semantic.min.css);
body {
  background: url(./Lovepik_com-401736682-black-and-white-graduation-student-silhouette.png);
  background-position: center;
  background-size: 50%;
  background-position-y: 200%;
  background-repeat: no-repeat;
}
.ui.items > .item > .content p:last-child,
.ui.items > .item > .content p,
.css-1wc848c-MuiFormHelperText-root.Mui-error,
.css-1wc848c-MuiFormHelperText-root {
  position: absolute !important;
  bottom: -16px !important;
}
.next-button:hover,
.next-button:focus {
  opacity: 1 !important;
}
.ui.vertical.menu .active.item {
  background: #4350b099;
  box-shadow: 0 0 2px #fff;
  color: #fff;
}
.ui.checkbox input:checked ~ .box:after,
.ui.checkbox input:checked ~ label:after {
  color: #fff !important;
  background-color: #4350b0;
  border-radius: 3px;
}
@media (max-width: 767px) {
  .ui.divided.items > .item:first-child {
    margin-left: 50px;
  }
}
.ui.radio.checkbox input:checked ~ .box:after,
.ui.radio.checkbox input:checked ~ label:after {
  background-color: #4350b0 !important;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  left: -4px;
  top: -3px;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  top: 0px;
  left: -1px;
  position: relative;
  background-color: #fff;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid #0000007a;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  top: 0px;
  left: -1px;
  position: relative;
  background-color: #4350b0;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #4350b0;
}
